@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*, *::before, *::after { box-sizing: border-box; }

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    
}

div.link {

    background-color: #3498db;
    margin: 10px;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div.link a {
    color: #f6f7fb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
